<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moutamid.torahshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".startup.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.TorahShare"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".activity.WomanApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UploadPostPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.addbutton.ApprovalActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseContactsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ContactRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FollowListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.approval.ApprovalActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".activity.settings.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".startup.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>